<x-inner class="ad-inner">
  <x-row space="1">
    <x-col span="24">
      <div class="ad-panel ad-content" ad-adaption [outerHeight]="97">
        <x-doc>
          <h2>NG-NEST-ADMIN</h2>
          <p>基于 Angular 和 Nestjs 构建的开源后台管理系统。</p>
          <ul>
            <li>提供基本的系统管理模块（用户、角色、组织和菜单）</li>
            <li>基于RBAC的权限管理</li>
            <li>使用对应的 <a href="https://ngnest.com/" target="_blank">@ng-nest/ui</a> 组件库</li>
          </ul>
          <h2>支持环境</h2>
          <ul>
            <li>Angular ^9.0.0</li>
            <li>Nestjs ^7.0.0</li>
          </ul>
          <table>
            <thead>
              <tr>
                <th>Chrome</th>
                <th>Microsoft Edge</th>
                <th>Firefox</th>
                <th>Safari</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>最新 2 个版本</td>
                <td>最新 2 个版本</td>
                <td>最新 2 个版本</td>
                <td>最新 2 个版本</td>
              </tr>
            </tbody>
          </table>
        </x-doc>
      </div>
    </x-col>
  </x-row>
</x-inner>
