<div class="login">
  <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="list">
      <div class="item top">
        <x-switch
          [ngModelOptions]="{ standalone: true }"
          [checkedText]="moonTpl"
          [unCheckedText]="sunTpl"
          [(ngModel)]="theme.dark"
          (ngModelChange)="darkChanged($event)"
        ></x-switch>
        <ng-template #moonTpl>
          <x-icon type="fto-moon" class="app-theme-style-icon"></x-icon>
        </ng-template>
        <ng-template #sunTpl>
          <x-icon type="fto-sun" class="app-theme-style-icon"></x-icon>
        </ng-template>
        <x-select
          class="lang-select"
          [style.width]="'auto'"
          [(ngModel)]="lang"
          (ngModelChange)="changeLang($event)"
          [ngModelOptions]="{ standalone: true }"
          [data]="langs"
          [variant]="'borderless'"
          [autoWidth]="true"
          clearable="false"
          portalWidth="150"
        ></x-select>
      </div>
      <div class="item">
        <div class="logo"></div>
      </div>
      <div class="item">
        <x-input
          size="large"
          formControlName="account"
          [label]="'$login.account' | xI18n"
          floatLabel="on"
          required
        ></x-input>
      </div>
      <div class="item">
        <x-input
          size="large"
          formControlName="password"
          type="password"
          [label]="'$login.password' | xI18n"
          floatLabel="on"
          required
        ></x-input>
      </div>
      <div class="item" [style.height.px]="50">
        <x-input
          size="large"
          formControlName="code"
          [label]="'$login.code' | xI18n"
          floatLabel="on"
          required
        ></x-input>
        <div class="captcha" (click)="getCaptcha()" #svgEle></div>
      </div>
      <div class="item">
        <x-button attrType="submit" type="primary" size="large" [loading]="loginLoading()">{{
          loginLoading() ? '' : ('$login.login' | xI18n)
        }}</x-button>
      </div>
    </div>
  </form>
</div>
