<div class="login">
  <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="list">
      <div class="item">
        <div class="logo"></div>
      </div>
      <div class="item">
        <label>{{ 'login.account' | xI18n }}</label>
        <x-input
          size="large"
          formControlName="account"
          [placeholder]="'login.please-input-account' | xI18n"
          required
        ></x-input>
      </div>
      <div class="item">
        <label>{{ 'login.password' | xI18n }}</label>
        <x-input
          size="large"
          formControlName="password"
          type="password"
          [placeholder]="'login.please-input-password' | xI18n"
          required
        ></x-input>
      </div>
      <div class="item" [style.height.px]="50">
        <label>{{ 'login.code' | xI18n }}</label>
        <x-input
          size="large"
          formControlName="code"
          [placeholder]="'login.please-input-code' | xI18n"
          required
        ></x-input>
        <div class="captcha" (click)="getCaptcha()" #svgEle></div>
      </div>
      <div class="item">
        <x-button attrType="submit" type="primary" size="large" [loading]="loginLoading()">{{
          loginLoading() ? '' : ('login.login' | xI18n)
        }}</x-button>
      </div>
    </div>
  </form>
</div>
