<div class="app-inner">
  <div class="app-tools">
    <form class="app-search-form" [formGroup]="searchForm" (ngSubmit)="action('search')">
      <div class="list">
        <div class="item">
          <label>{{ '$schema.dataDefine' | xI18n }}</label>
          <x-cascade
            [data]="schemaList()"
            nodeTrigger="hover"
            formControlName="schemaId"
            [style.width.rem]="15"
          ></x-cascade>
        </div>
      </div>
      <div class="buttons">
        <div>
          <x-button icon="fto-refresh-cw" attrType="submit" [loading]="searchLoading()">{{
            '$base.refresh' | xI18n
          }}</x-button>
        </div>
        <x-button
          [app-auth]="'schema-data-create'"
          type="primary"
          icon="fto-plus"
          attrType="button"
          (click)="action('add')"
          >{{ '$base.add' | xI18n }}</x-button
        >
      </div>
    </form>
  </div>
  <div class="app-table" [x-loading]="tableLoading()">
    <x-table
      ngSkipHydration
      #tableCom
      [data]="data()"
      [columns]="columns()"
      [(index)]="index"
      [(size)]="size"
      [(total)]="total"
      [showSize]="true"
      [showEmpty]="!tableLoading()"
      [rowHeight]="0"
      [sizeData]="[10, 20, 50, 100]"
      [showJump]="true"
      [scroll]="{ x: 1300, y: 500 }"
      [virtualScroll]="true"
      [bodyColumnTpl]="{ operate: operateTpl }"
      [bodyTdTpl]="bodyTdTpl"
      (indexChange)="indexChange()"
      (sizeChange)="sizeChange()"
    ></x-table>
    <ng-template #operateTpl let-column="$column" let-row="$row">
      <div class="operate">
        <x-link [app-auth]="'schema-data-update'" type="primary" (click)="action('edit', row)">
          {{ '$base.edit' | xI18n }}
        </x-link>
        <x-link [app-auth]="'schema-data-delete'" type="danger" (click)="action('delete', row)">
          {{ '$base.delete' | xI18n }}
        </x-link>
      </div>
    </ng-template>

    <ng-template #bodyTdTpl let-column="$column" let-row="$row" let-index="$index">
      @switch (column.schemaType) {
        @case ('object') {
          @if (column.isJsonSchema) {
            <x-link
              type="primary"
              [title]="row[column.id] | json"
              (click)="action('view-json-schema', row[column.id])"
            >
              {{ '$codeGenerate.viewJsonSchema' | xI18n }}
            </x-link>
          } @else {
            <x-link
              type="primary"
              [title]="row[column.id] | json"
              (click)="action('view-json', row[column.id])"
            >
              {{ '$codeGenerate.viewJson' | xI18n }}
            </x-link>
          }
        }
        @case ('array') {
          <div class="keys">
            <x-link type="primary" x-tooltip [content]="row[column.id] | json">
              {{ row[column.id]?.length }}{{ '$base.items' | xI18n }}
            </x-link>
          </div>
        }
        @default {
          {{ row[column.id] }}
        }
      }
    </ng-template>
  </div>
</div>
