<div class="app-inner">
  <div class="app-table subject-table" [x-loading]="tableLoading()">
    <x-table
      ngSkipHydration
      [data]="data()"
      [columns]="columns()"
      [(index)]="index"
      [(size)]="size"
      [(total)]="total"
      [rowHeight]="0"
      [showEllipsis]="false"
      [showTotal]="false"
      [showEmpty]="!tableLoading()"
      [hiddenPaginationBorder]="true"
      [scroll]="{ x: 180, y: 300 }"
      [virtualScroll]="true"
      [headColumnTpl]="{ name: nameHeadTpl }"
      [bodyColumnTpl]="{ name: nameBodyTpl }"
      [adaptionHeight]="105"
      (indexChange)="indexChange()"
      (sizeChange)="sizeChange()"
      (activatedRowChange)="activatedRowChange($event)"
    ></x-table>
    <ng-template #nameHeadTpl let-column="$column" let-row="$row">
      <div class="name-header">
        <span>{{ column.label }}</span>
        <x-button
          [app-auth]="'subject-create'"
          type="primary"
          icon="fto-plus"
          attrType="button"
          (click)="action('add')"
          >{{ '$base.add' | xI18n }}</x-button
        >
      </div>
    </ng-template>
    <ng-template #nameBodyTpl let-column="$column" let-row="$row">
      <div class="name-body">
        <div class="name">
          {{ row.name }}<span>{{ row.code }}</span>
        </div>
        <div class="operate">
          <x-link
            [app-auth]="'subject-update'"
            type="primary"
            (click)="action('edit', row); $event.stopPropagation()"
            >{{ '$base.edit' | xI18n }}</x-link
          >
          <x-link
            [app-auth]="'subject-delete'"
            type="danger"
            (click)="action('delete', row); $event.stopPropagation()"
            >{{ '$base.delete' | xI18n }}</x-link
          >
        </div>
      </div>
    </ng-template>
  </div>
  <div class="app-right">
    <div class="app-tools">
      <form
        class="app-search-form"
        [formGroup]="resourceSearchForm"
        (ngSubmit)="resourceAction('search')"
      >
        <div class="list">
          <div class="item">
            <label>{{ '$resource.name' | xI18n }}</label>
            <x-input formControlName="name" [placeholder]="'$base.pleaseInput' | xI18n"></x-input>
          </div>
          <div class="item">
            <label>{{ '$resource.code' | xI18n }}</label>
            <x-input formControlName="code" [placeholder]="'$base.pleaseInput' | xI18n"></x-input>
          </div>
        </div>
        <div class="buttons">
          <div>
            <x-button
              icon="fto-search"
              attrType="submit"
              [loading]="resourceSearchLoading()"
              [disabled]="!enabled()"
              >{{ '$base.search' | xI18n }}</x-button
            >
            <x-button
              icon="fto-refresh-cw"
              attrType="button"
              (click)="resourceAction('reset')"
              [loading]="resourceResetLoading()"
              [disabled]="!enabled()"
              >{{ '$base.reset' | xI18n }}</x-button
            >
          </div>
          <x-button
            [app-auth]="'resource-create'"
            type="primary"
            icon="fto-plus"
            attrType="button"
            (click)="resourceAction('add')"
            [disabled]="!enabled()"
            >{{ '$base.add' | xI18n }}</x-button
          >
        </div>
      </form>
    </div>
    <div class="app-table" [x-loading]="resourceTableLoading()">
      <x-table
        ngSkipHydration
        [data]="resourceData()"
        [columns]="resourceColumns()"
        [(index)]="resourceIndex"
        [(size)]="resourceSize"
        [(total)]="resourceTotal"
        [showSize]="true"
        [sizeData]="[10, 20, 50, 100]"
        [showJump]="true"
        [showEmpty]="!resourceTableLoading()"
        [bodyColumnTpl]="{ operate: operateTpl }"
        [adaptionHeight]="105"
        (indexChange)="resourceIndexChange()"
        (sizeChange)="resourceSizeChange()"
      ></x-table>
      <ng-template #operateTpl let-column="$column" let-row="$row">
        <div class="operate">
          <x-link
            [app-auth]="'permission-view'"
            type="primary"
            (click)="resourceAction('permission', row)"
            >{{ '$permission.permission' | xI18n }}</x-link
          >
          <x-link
            [app-auth]="'resource-update'"
            type="primary"
            (click)="resourceAction('edit', row)"
            >{{ '$base.edit' | xI18n }}</x-link
          >
          <x-link
            [app-auth]="'resource-delete'"
            type="danger"
            (click)="resourceAction('delete', row)"
            >{{ '$base.delete' | xI18n }}</x-link
          >
        </div>
      </ng-template>
    </div>
  </div>
</div>
