<x-inner class="ad-inner">
  <div class="ad-panel ad-tree-left" [x-loading]="treeLoading" style="width: 22rem;">
    <h4>
      <span>组织机构</span>
      <x-link
        icon="fto-plus"
        title="增加根节点"
        [disabled]="!auth['add-root']"
        (click)="auth['add-root'] && action('add-root', selected)"
      ></x-link>
    </h4>
    <x-tree
      #treeCom
      ad-adaption
      [outerHeight]="131"
      [data]="data"
      expandedLevel="0"
      [activatedId]="activatedId"
      [nodeHeight]="1.875"
      [actions]="treeActions"
      (activatedChange)="action('info', $event)"
    >
    </x-tree>
  </div>
  <div class="ad-form-right">
    <ad-tool top>
      <x-buttons [space]="0.5">
        <x-button
          icon="fto-save"
          type="primary"
          (click)="!formGroup.invalid && !disabled && action('save', selected)"
          [disabled]="formGroup.invalid || disabled"
        >
          保存
        </x-button>
      </x-buttons>
    </ad-tool>
    <x-form
      class="ad-panel ad-overflow-auto"
      ad-adaption
      [outerHeight]="138"
      [formGroup]="formGroup"
      [controls]="controls"
      [disabled]="disabled"
      direction="row"
      labelSuffix=":"
      labelWidth="6rem"
      width="24rem"
      labelAlign="end"
      span="20"
      space="2"
    ></x-form>
  </div>
</x-inner>
