<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">{{ title() }}资源</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="item required">
      <label>资源分类：</label>
      <x-select
        formControlName="subjectId"
        [data]="subjects()"
        placeholder="请选择资源分类"
      ></x-select>
    </div>
    <div class="item">
      <label>父资源：</label>
      <x-tree-select
        formControlName="pid"
        [data]="resources()"
        placeholder="请选择父资源"
      ></x-tree-select>
    </div>
    <div class="item required">
      <label>资源类型：</label>
      <x-radio [data]="typeList()" formControlName="type"></x-radio>
    </div>
    <div class="item required">
      <label>资源名称：</label>
      <x-input formControlName="name" placeholder="请输入资源名称"></x-input>
    </div>
    @switch (form.value.type) {
      @case ('number') {
        <div class="item required">
          <label>数字：</label>
          <x-input-number formControlName="code"></x-input-number>
        </div>
      }
      @case ('boolean') {
        <div class="item required">
          <label>布尔：</label>
          <x-switch formControlName="code" checkedText="true" unCheckedText="false"></x-switch>
        </div>
      }
      @default {
        <div class="item required">
          <label>字符串：</label>
          <x-input formControlName="code" placeholder="请输入字符串"></x-input>
        </div>
      }
    }
    <div class="item required">
      <label>资源排序：</label>
      <x-input-number formControlName="sort"></x-input-number>
    </div>
    <div class="item">
      <label>资源图标：</label>
      <x-input formControlName="icon" placeholder="可选择一个资源图标"></x-input>
    </div>
    <div class="item">
      <label>资源描述：</label>
      <x-textarea formControlName="description" placeholder="请输入资源描述"></x-textarea>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>取消</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="!form.valid"
      >保存</x-button
    >
  </div>
</form>
