/* You can add global styles to this file, and also import other style files */
@import './styles/index';
@font-face {
  font-family: 'ubuntu';
  src: url('assets/fonts/ubuntu.eot?#') format('eot'), url('assets/fonts/ubuntu.ttf') format('truetype'),
    url('assets/fonts/ubuntu.woff') format('woff'), url('assets/fonts/ubuntu.svg#ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color-dark: var(--x-primary-a100);
  --primary-color: var(--x-primary);
  --primary-color-light: #c5cae9;
  --primary-color-text: #ffffff;
  --accent-color: #ff5722;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}
*,
:after,
:before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fafafa;
}

body,
input,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.4s;
  cursor: default;
}

code,
pre,
tt {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

html {
  font-family: ubuntu, -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
