/* You can add global styles to this file, and also import other style files */
@use '../node_modules/@ng-nest/ui/style/params/index.scss' as *;

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('assets/fonts/dm-mono.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: $x-background;
  height: 100%;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 0.75rem;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 0.75rem;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0.75rem;
  // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  background: rgba(0, 0, 0, 0.05);
}

body,
input,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: $x-primary;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    color: $x-primary;
  }
}

code,
pre,
tt {
  font-family:
    DM Mono,
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace;
}

body,
input {
  font-family:
    Inter,
    -apple-system,
    SF UI Text,
    Arial,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    WenQuanYi Micro Hei,
    sans-serif;
}

.app-inner {
  padding: 1rem;
}

.app-right {
  flex: 1;
  margin-left: 1rem;
}

.app-tools,
.app-table {
  padding: 1rem;
  background-color: $x-background;
  border-radius: $x-border-radius;
  box-shadow: $x-box-shadow var(--x-box-shadow-light-color);
}

.app-table {
  margin-top: 1rem;

  .operate {
    color: $x-text-300;
    x-link {
      &:not(:first-child) {
        margin-left: 0.75rem;
      }
    }
  }
}

.app-search-form {
  .list {
    display: flex;
  }

  .item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 1rem;
    }

    label {
      white-space: nowrap;
    }
  }

  .buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    x-button {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}

@mixin table-item-td {
  border-top: $x-border-base;

  &:not(:first-child) {
    border-left: $x-border-base;
  }

  x-input,
  x-select {
    width: 100%;
  }

  &.index {
    padding: 0.5rem 0.75rem;
  }
}

.app-dialog-form {
  position: relative;

  .title {
    border-bottom: $x-border-base;
  }

  .close {
    position: absolute;
    top: 0;
    right: -1rem;

    .x-button {
      height: 3rem;
      line-height: 3rem;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;

    &.grid-1-1 {
      grid-template-columns: 1fr 1fr;
    }

    &.full {
      padding: 0;
    }

    .item {
      display: flex;
      align-items: flex-start;

      label {
        width: 8.625rem;
        line-height: 2.25rem;
        text-align: right;
      }

      &.required {
        label::before {
          display: inline-block;
          margin-right: 0.25rem;
          color: $x-danger;
          line-height: 1;
          font-size: $x-font-size-small;
          content: '*';
        }
      }

      x-input,
      x-select,
      x-cascade,
      x-textarea,
      x-tree-select,
      app-editor {
        flex: 1;
      }

      app-editor {
        border: $x-border-base;
        border-radius: $x-border-radius;
      }
    }
  }

  .actions {
    x-button {
      min-width: 7.5rem;
    }

    border-top: $x-border-base;
  }

  .attrs {
    padding: 1.25rem 1rem;
    gap: 1rem;

    .attrs-table {
      table {
        border: $x-border-base;
        border-collapse: collapse;
        width: 100%;

        thead {
          tr th {
            padding: 0.5rem 0.75rem;
            background-color: $x-background;
            text-align: left;
            white-space: nowrap;

            &:not(:first-child) {
              border-left: $x-border-base;
            }
            &.required {
              &::before {
                display: inline-block;
                margin-right: 0.25rem;
                color: $x-danger;
                line-height: 1;
                font-size: $x-font-size-small;
                content: '*';
              }
            }
          }
        }

        tbody {
          &.app-drag-table {
            &.cdk-drop-list-dragging {
              .app-drag-table-item.cdk-drag-placeholder {
                opacity: 0.5;
              }
              .app-drag-table-item:not(.cdk-drag-placeholder) {
                transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
              }
            }
          }
          tr td {
            @include table-item-td();
          }
        }
      }

      .empty {
        padding: 1.25rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: $x-border-base;
        border-right: $x-border-base;
        border-bottom: $x-border-base;
      }
    }
  }

  .tooltip {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.app-drawer {
  x-drawer-portal {
    padding: 0;
    overflow: hidden;
  }
  .x-drawer-portal-content {
    margin: 0;
    padding: 1rem;
  }
  position: relative;

  .title {
    font-weight: 600;
    color: $x-text-300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3rem;
    line-height: 3rem;
    display: block;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
    border-bottom: $x-border-base;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;

    .x-button {
      height: 3rem;
      line-height: 3rem;
    }
  }

  .content {
    height: calc(100vh - 3rem);
    overflow: auto;
  }
}

.app-drag-table-item {
  td {
    @include table-item-td();
  }
  &.cdk-drag-preview {
    opacity: 0.6;
  }
  &.cdk-drag-animating {
    transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}

.app-drag-handle {
  cursor: move;
  .x-button {
    cursor: move;
  }
}

.app-help-icon {
  font-size: 1rem;
}

.app-help-content {
  .x-tooltip-portal > .x-tooltip-portal-inner {
    min-width: 10rem;
    max-width: 40rem;
  }
}

x-empty,
.x-empty {
  height: 100%;
  min-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-typescript,
.language-ts,
.language-json {
  .token.decorator,
  .token.keyword,
  .token.builtin {
    color: #0546ff;
  }

  .token.class-name,
  .token.property,
  .token.boolean {
    color: #f637e3;
  }

  .token.string,
  .token.number {
    color: #fa2c05;
  }

  .token.comment {
    color: #746e7c;
  }
}

.language-html {
  .token.tag,
  .token.punctuation {
    color: #0546ff;
  }
  .token.attr-name {
    color: #f637e3;
  }
  .token.attr-value,
  .token.attr-value .token.punctuation {
    color: #fa2c05;
    &.attr-equals {
      color: #0546ff;
    }
  }
  .token.attr-name {
    .attr-equals {
      color: #0546ff;
    }
  }
}

.language-scss {
  .token.selector,
  .token.function,
  .token.keyword {
    color: #0546ff;
  }
  .token.property {
    color: #f637e3;
  }
  .token.string {
    color: #fa2c05;
  }
  .token.punctuation {
    color: #474747;
  }
}

.app-markdown {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2.25rem 0 1rem;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: 500;
    margin: 2rem 0 1rem;
    clear: both;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 1.5rem 0 1rem;
    clear: both;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1.125rem 0 $x-font-size;
    clear: both;
  }

  h5 {
    font-size: $x-font-size;
    font-weight: 500;
    margin: 1rem 0 0.625rem;
    clear: both;
  }

  > p {
    font-weight: 400;
    margin: $x-font-size 0 0;
  }

  > ul {
    margin: $x-font-size 0;
    > li {
      list-style-type: circle;
      margin: 0.125rem 0.125rem 0.125rem 1.25rem;
      line-height: 1.75rem;
    }
  }

  blockquote {
    margin: 0;
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem $x-font-size;
    > p {
      margin: 0;
    }
  }

  > blockquote {
    margin-top: $x-font-size;
    background-color: $x-background-a100;
    border-radius: $x-border-radius;
    border: $x-border-base;
    color: $x-text-400;
  }

  li > code,
  p > code {
    position: relative;
    padding: 0 0.5rem;
    color: $x-danger;
    background: $x-danger-900;
    border-radius: $x-border-small-radius;
    display: inline-block;
  }

  > table {
    width: 100%;
    background: $x-background;
    border-collapse: collapse;
    border-bottom: $x-border-base;
    tr > th,
    tr > td {
      border-bottom: $x-border-base;
      text-align: left;
      padding: 0.5rem 0;
    }
    tr {
      th {
        white-space: nowrap;
        color: $x-text;
      }
    }
  }
}

.x-dialog-portal {
  background-color: $x-background !important;
}

.cdk-overlay-dark-backdrop {
  filter: contrast(0.3);
}
