/* You can add global styles to this file, and also import other style files */
@import "./styles/index";
:root {
  --primary-color-dark: #303f9f;
  --primary-color: #3f51b5;
  --primary-color-light: #c5cae9;
  --primary-color-text: #ffffff;
  --accent-color: #ff5722;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-color: #bdbdbd;
}
