<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">
    {{ (id() ? '$base.edit' : '$base.add') | xI18n }} {{ '$user.user' | xI18n }}
  </h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="item required">
      <label>{{ '$user.account' | xI18n }}</label>
      <x-input
        formControlName="account"
        [placeholder]="'$user.accountPlaceholder' | xI18n"
        required
      ></x-input>
    </div>
    @if (!id()) {
      <div class="item required">
        <label>{{ '$user.password' | xI18n }}</label>
        <x-input
          formControlName="password"
          type="password"
          [placeholder]="'$user.passwordPlaceholder' | xI18n"
          required
        ></x-input>
      </div>
      <div class="item required">
        <label>{{ '$user.confirmPassword' | xI18n }}</label>
        <x-input
          formControlName="checkPassword"
          type="password"
          [placeholder]="'$user.confirmPasswordPlaceholder' | xI18n"
          required
          [message]="'$user.passwordNotMatch' | xI18n"
          [inputValidator]="passwordCheck"
        ></x-input>
      </div>
    }
    <div class="item required">
      <label>{{ '$user.role' | xI18n }}</label>
      <x-select
        [data]="roles()"
        formControlName="roleIds"
        multiple
        [placeholder]="'$user.rolePlaceholder' | xI18n"
        required
      ></x-select>
    </div>
    <div class="item required">
      <label>{{ '$user.name' | xI18n }}</label>
      <x-input
        formControlName="name"
        [placeholder]="'$user.namePlaceholder' | xI18n"
        required
      ></x-input>
    </div>
    <div class="item required">
      <label>{{ '$user.email' | xI18n }}</label>
      <x-input
        formControlName="email"
        [placeholder]="'$user.emailPlaceholder' | xI18n"
        required
      ></x-input>
    </div>
    <div class="item">
      <label>{{ '$user.phone' | xI18n }}</label>
      <x-input
        formControlName="phone"
        [placeholder]="'$user.phonePlaceholder' | xI18n"
      ></x-input>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button size="large" icon="fto-x" attrType="button" flat plain x-dialog-close>{{
      '$base.cancel' | xI18n
    }}</x-button>
    <x-button
      size="large"
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="!form.valid"
      >{{ '$base.save' | xI18n }}</x-button
    >
  </div>
</form>
