:host {
  .aigc {
    background: rgba(240, 240, 240);
  }

  .source {
    position: sticky;
    top: 2.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: rgba(240, 240, 240);
    z-index: 10;

    ::ng-deep {
      .x-slider-scroll > ul > li x-link.x-size-large {
        height: 5rem;
        line-height: 1.75rem;
      }
    }
  }

  .content {
    // padding-top: 7rem;
    width: 100%;
    // padding-bottom: 12rem;
    display: flex;
    justify-content: center;

    .list {
      width: 30rem;
      padding: 1rem 0;
      .item {
        display: flex;
        position: relative;
        .role {
          position: absolute;
          left: -2.5rem;
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2rem;
          background-color: rgba(0, 0, 0, 0.1);
        }
        .message {
          border-radius: 0.5rem;
          padding: 0.25rem 0.75rem;
          &.white {
            background-color: white;
          }
        }
        &:not(:first-child) {
          margin-top: 1rem;
        }
      }
    }
  }

  .form {
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background: rgba(240, 240, 240);
    z-index: 10;

    .prompt {
      position: relative;
      display: flex;
      justify-content: center;
      width: 30rem;
      x-textarea {
        width: 100%;
        height: 10rem;
        ::ng-deep {
          .x-textarea > .x-textarea-row > textarea {
            padding: 0.5rem 0.5rem 2rem 0.5rem !important;
          }
        }
      }
      x-button {
        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;
      }
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .cursor {
    color: rgba(0, 0, 0, 0.8);
    padding: 0 3px;
    animation: blink 0.5s infinite;
  }
}

.aigc-source-node {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
