<div class="app-inner">
  <div class="app-tools">
    <form class="app-search-form" [formGroup]="searchForm" (ngSubmit)="action('search')">
      <div class="buttons" [style.marginTop.px]="0">
        <div>
          <x-button icon="fto-refresh-cw" attrType="submit" [loading]="searchLoading()">{{
            '$base.refresh' | xI18n
          }}</x-button>
        </div>
        <x-button
          type="primary"
          icon="fto-trash-2"
          type="danger"
          attrType="button"
          (click)="action('clear-all')"
          >{{ '$cache.deleteAll' | xI18n }}</x-button
        >
      </div>
    </form>
  </div>
  <div class="app-table" [x-loading]="tableLoading()">
    <x-table
      ngSkipHydration
      #tableCom
      [data]="data()"
      [columns]="columns()"
      [(index)]="index"
      [(size)]="size"
      [(total)]="total"
      [showEmpty]="!tableLoading()"
      [showPagination]="false"
      [rowHeight]="0"
      [bodyColumnTpl]="{ keys: keysTpl, type: typeTpl, operate: operateTpl }"
      (indexChange)="indexChange()"
      (sizeChange)="sizeChange()"
    ></x-table>
    <ng-template #typeTpl let-column="$column" let-row="$row">
      <div class="type">
        {{ this.typeMap.get(row.type) ?? row.type }}&nbsp;&nbsp;&nbsp;&nbsp;
        {{ this.typeMap.get(row.type) ? '[ ' + row.type + ' ]' : '' }}
      </div>
    </ng-template>
    <ng-template #operateTpl let-column="$column" let-row="$row">
      <div class="operate">
        <x-link [app-auth]="'cache-view'" type="primary" (click)="action('view', row)">{{
          '$base.info' | xI18n
        }}</x-link>
        <x-link [app-auth]="'cache-delete'" type="danger" (click)="action('delete', row)">
          {{ '$base.delete' | xI18n }}
        </x-link>
      </div>
    </ng-template>
    <ng-template #keysTpl let-column="$column" let-row="$row">
      <div class="keys">
        <x-button size="small" text type="primary" (click)="action('view', row)">
          {{ row.keys.length }} {{ '$cache.items' | xI18n }}
        </x-button>
      </div>
    </ng-template>
  </div>
</div>
