@import 'params';

:host {
  width: calc(100% - 15rem);
  height: 2rem;
  position: fixed;
  top: 2.25rem;
  left: 15rem;
  z-index: 12;
  transition: left $--x-animation-duration-slow, width $--x-animation-duration-slow;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  padding: 0 var($--x-padding-large) / 2;
}
