@import "index";
// 字体颜色
$font-color: $primary-text-color;
// 头部背景色
$header-background-color: $primary-color;
// 头部文字颜色
$header-color: $primary-color-text;
// 菜单栏背景色
$sider-background-color: #f0f0f0;
// 标签页背景色
$tabs-background-color: #f0f0f0;
// 正文背景色
$content-background-color: $primary-text-color;
// 头部高度
$header-height: 3.5rem;
// 标签页高度
$tabs-height: 2.375rem;
// 面包屑导航高度
$crumb-height: 2.375rem;
// 菜单栏宽度
$sider-width: 12.5rem;
// 内容区域的内边距
$content-padding: 1rem;
// 悬停背景色
$sider-node-hover-background-color: rgba(0, 0, 0, 0.02);
// 悬停文字颜色
$sider-node-hover-color: $primary-text-color;
// 选中背景颜色
$selected-background-color: rgba(0, 0, 0, 0.04);
// 选中文字颜色
$selected-color: $primary-color;
// 动画时间
$transition-duration: 0.3s;
// 阴影
$box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.1);
// 悬停效果
@mixin hover {
  color: $sider-node-hover-color;
  background-color: $sider-node-hover-background-color;
}

// 选中效果
@mixin activated {
  color: $selected-color;
  background-color: $selected-background-color;
}

// 框架页样式
app-index {
  color: $font-color;
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  > app-header {
    background-color: $header-background-color;
    color: $header-color;
    height: $header-height;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    > .logo {
      display: flex;
      align-items: center;
      img {
        width: 2.25rem;
      }
      .title {
        font-size: 1.5rem;
        margin-left: 0.625rem;
      }
    }
    > .nav {
      display: flex;
      align-items: center;
      > span {
        cursor: default;
      }
      > a {
        display: flex;
        align-items: center;
        padding: 0 0.625rem;
        height: 2rem;
        line-height: 2rem;
        border-radius: 0.125rem;
        font-size: 0.875rem;
        > span {
          cursor: default;
          &.info {
            padding-left: 0.375rem;
          }
        }
        > .nm-icon {
          font-size: 1.25rem;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
          transition: color $transition-duration,
            background-color $transition-duration;
        }
      }
    }
  }
  > app-tabs {
    background-color: $tabs-background-color;
    width: calc(100% - #{$sider-width});
    height: $tabs-height;
    position: fixed;
    top: $header-height;
    left: $sider-width;
    z-index: 11;
    transition: left $transition-duration, width $transition-duration;
    font-size: 0.875rem;
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      li {
        min-width: 5.625rem;
        max-width: 11.25rem;
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        box-sizing: border-box;
        padding-left: 0.625rem;
        padding-right: 1.875rem;
        user-select: none;
        border-right: 1px solid #fff;
        position: relative;
        transition: background-color $transition-duration;
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-left: 0.375rem;
          flex: 1;
        }
        .close {
          margin-right: 0.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 0;
          .nm-icon {
            font-weight: bold;
            opacity: 0;
            transition: color $transition-duration;
            padding: 0.125rem;
          }
        }
        &.active {
          background-color: white;
          span {
            color: $primary-text-color;
          }
        }
        &.active,
        &:hover {
          .close {
            .nm-icon {
              color: $secondary-text-color;
              opacity: 1;
              &:hover {
                color: $primary-text-color;
              }
            }
          }
        }
      }
    }
  }
  > app-crumb {
    width: calc(100% - #{$sider-width});
    height: $crumb-height;
    position: fixed;
    top: $header-height + $tabs-height;
    background-color: #fafafa;
    left: $sider-width;
    z-index: 11;
    transition: left $transition-duration, width $transition-duration;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    padding: 0 $content-padding/2;
    .crumb-operation {
      .nm-icon {
        font-size: 1.125rem;
        padding: 0.25rem;
        cursor: pointer;
        transition: background-color $transition-duration;
        &:hover {
          background-color: rgba(0, 0, 0, 0.06);
        }
      }
    }
    .nm-crumb {
      margin-left: 1rem;
    }
  }
  > app-sider {
    background-color: $sider-background-color;
    height: 100%;
    width: $sider-width;
    position: fixed;
    top: $header-height + $tabs-height;
    left: 0;
    z-index: 11;
    transition: width $transition-duration,
      background-color $transition-duration;
    li {
      a {
        padding: 0 1rem;
        transition: background-color $transition-duration,
          border-color $transition-duration;
        display: flex;
        align-items: center;
        height: $tabs-height;
        font-size: 0.875rem;
        color: $font-color;
        user-select: none;
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 0.375rem;
          transition: visibility $transition-duration,
            opacity $transition-duration;
          flex: 1;
        }
        .nm-icon {
          font-size: 1.125rem;
          &.sider-arrow {
            font-size: 1rem;
            transition: visibility $transition-duration,
              opacity $transition-duration;
          }
        }
        &:hover {
          @include hover;
        }
        &.active {
          @include activated;
          &:hover {
            @include activated;
          }
        }
      }
    }
  }
  > app-content {
    padding-top: $header-height + $tabs-height + $crumb-height;
    padding-left: $sider-width;
    transition: padding $transition-duration;
    height: 100%;
    display: block;
  }
  > app-toggle {
    background-color: #fafafa;
    height: $tabs-height;
    width: $sider-width;
    position: fixed;
    top: $header-height;
    left: 0;
    z-index: 12;
    transition: width $transition-duration;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    box-sizing: border-box;
    .toggle {
      height: $tabs-height;
      width: $tabs-height + 0.625rem;
      display: flex;
      align-items: center;
      justify-content: center;
      float: right;
      transition: color $transition-duration,
        background-color $transition-duration;
      .nm-icon {
        font-size: 1.125rem;
        transition: transform $transition-duration;
      }
      &:hover {
        color: $sider-node-hover-color;
        background-color: $sider-node-hover-background-color;
      }
      &.selected {
        color: $selected-color;
        background-color: $selected-background-color;
        .nm-icon {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// 框架页中缩起菜单栏后的样式
app-index.sider-shrink {
  > app-tabs,
  > app-crumb {
    left: $tabs-height + 0.625rem;
    width: calc(100% - #{$tabs-height + 0.625rem});
  }
  > app-content {
    padding-left: $tabs-height + 0.625rem;
  }
  > app-sider,
  > app-toggle {
    width: $tabs-height + 0.625rem;
  }
  > app-sider {
    li {
      a {
        span,
        .sider-arrow {
          visibility: hidden;
          opacity: 0;
        }
      }
      ul {
        visibility: hidden;
        height: 0;
        opacity: 0;
      }
    }
  }
}
