@import 'index';

$--x-box-shadow-light: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
$--x-box-shadow-light-right: 0 2px 2px -6px rgba(0, 0, 0, 0.56), 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$--x-box-shadow-light-bottom: 0 2px 2px -6px rgba(0, 0, 0, 0.56), 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 2px 2px -6px rgba(0, 0, 0, 0.12);

// 字体颜色
$font-color: $--x-text;
// 头部背景色
$header-background-color: rgba(0, 0, 0, 0.8);
// 头部文字颜色
$header-color: $--x-text;
// 菜单栏背景色
$sider-background-color: rgba(0, 0, 0, 0.8);
// 顶部右侧菜单个数
$nav-num: 4;
// 正文背景色
$content-background-color: $--x-background;
// 头部高度
$header-height: 3.25rem;
// 标签页高度
$tabs-height: 2.25rem;
// 面包屑导航高度
$crumb-height: 2rem;
// 菜单栏宽度
$sider-width: 15rem;
// 内容区域的内边距
$content-padding: $--x-padding-large;
// 悬停背景色
$sider-node-hover-background-color: rgba(0, 0, 0, 0.06);
// 悬停文字颜色
$sider-node-hover-color: $--x-text;
// 选中背景颜色
$selected-background-color: rgba(0, 0, 0, 0.06);
// 选中文字颜色
$selected-color: $--x-primary;
// 动画时间
$transition-duration: 0.3s;
@mixin hover {
  color: $selected-color;
  background-color: $sider-node-hover-background-color;
}

// 选中效果
@mixin activated {
  color: $selected-color;
  background-color: $selected-background-color;
  border-right: 0.125rem solid $selected-color;
}

// 菜单样式
@mixin silder {
  li {
    a {
      padding: 0 0.875rem;
      transition: background-color $transition-duration, border-color $transition-duration;
      display: flex;
      align-items: center;
      height: $tabs-height;
      font-size: 0.875rem;
      color: $font-color;
      user-select: none;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0 0.375rem;
        transition: visibility $transition-duration, opacity $transition-duration;
        flex: 1;
      }
      .x-icon {
        font-size: 1.125rem;
        &.sider-arrow {
          font-size: 0.875rem;
          transition: visibility $transition-duration, opacity $transition-duration, transform $transition-duration;
          &.show {
            transform: rotate(90deg);
          }
        }
      }
      &:hover {
        @include hover;
      }
      &.active {
        @include activated;
        &:hover {
          @include activated;
        }
      }
    }
    &.childrenShow {
      > a {
        background-color: $selected-background-color;
      }
    }
    &.floatShow {
      > a {
        @include hover;
      }
    }
  }
}

// 组件样式
@mixin ng-nest {
  x-form {
    display: block;
  }
  x-row {
    flex: 1;
  }
  x-doc {
    > h2:first-of-type {
      margin-top: 0;
    }
    padding: 0;
    table {
      th,
      td {
        padding: 0 $--x-padding-large;
      }
      th {
        background-color: $--x-background-a100;
      }
    }
  }
}

// 框架页样式
app-index {
  color: $font-color;
  display: block;
  width: 100%;
  height: 100%;
  > app-tabs {
    width: calc(100% - #{$sider-width});
    height: $tabs-height;
    padding-right: $tabs-height * $nav-num + $--x-padding-medium * 2;
    position: fixed;
    top: 0;
    left: $sider-width;
    z-index: 13;
    transition: left $transition-duration, width $transition-duration;
    font-size: 0.875rem;
    .x-slider-scroll > ul > li x-link.x-size-big {
      padding: 0;
    }
    .x-slider-scroll > ul > li.x-slider-highlight {
      border: none;
      border-radius: 0;
    }
    .toggle {
      float: left;
      .x-link {
        width: $tabs-height;
        height: $tabs-height;
        .x-icon {
          font-size: $--x-font-size-large;
        }
      }
    }

    .nav {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 $--x-padding-medium;
      .x-link {
        width: $tabs-height;
        height: $tabs-height;
        .x-icon {
          font-size: $--x-font-size-large;
        }
      }
    }

    .tab {
      min-width: 5.625rem;
      max-width: 11.25rem;
      padding: 0 1.875rem 0 0.875rem;
      height: 100%;
      display: flex;
      align-items: center;
      white-space: nowrap;
      box-sizing: border-box;
      user-select: none;
      position: relative;
      transition: background-color $transition-duration;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 0.375rem;
        flex: 1;
      }
      .close {
        margin-right: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        .x-icon {
          font-weight: bold;
          opacity: 0;
          transition: color $transition-duration;
          padding: 0.125rem;
        }
      }
      &.active {
        background-color: $--x-background;
        span {
          color: $--x-text;
        }
      }
      &.active,
      &:hover {
        .close {
          .x-icon {
            color: $--x-text-100;
            opacity: 1;
            &:hover {
              color: $--x-text;
            }
          }
        }
      }
    }
  }
  > app-crumb {
    width: calc(100% - #{$sider-width});
    height: $crumb-height;
    position: fixed;
    top: $tabs-height;
    left: $sider-width;
    z-index: 12;
    transition: left $transition-duration, width $transition-duration;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    padding: 0 $content-padding/2;
    box-shadow: $--x-box-shadow-light-bottom;
    .crumb-operation {
      .x-icon {
        font-size: 1.125rem;
        padding: 0.25rem;
        transition: background-color $transition-duration;
        border-radius: 0.125rem;
        &:hover {
          background-color: $--x-background-a100;
        }
        &.disabled {
          color: $--x-primary-500;
          pointer-events: none;
        }
      }
    }
    .x-crumb {
      margin-left: 1rem;
    }
  }
  > app-sider {
    height: 100%;
    width: $sider-width;
    box-shadow: $--x-box-shadow-light-right;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    transition: width $transition-duration, background-color $transition-duration;
    @include silder;
    > ul {
      overflow-y: auto;
      height: calc(100% - #{$header-height});
      position: relative;
      z-index: 10;
    }
    > app-header {
      // background-color: $header-background-color;
      color: $header-color;
      height: $header-height;
      overflow: hidden;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      box-sizing: border-box;
      position: relative;
      z-index: 10;
      > .logo {
        display: flex;
        align-items: center;
        img {
          width: 2rem;
          transition: width $transition-duration, padding $transition-duration;
        }
        .title {
          font-size: $--x-font-size-big;
          margin-left: 0.625rem;
          visibility: inherit;
          text-overflow: ellipsis;
          white-space: nowrap;
          transition: visibility $transition-duration, opacity $transition-duration;
        }
      }
    }
    > .silder-image {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: block;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50%;
      background-image: url(/assets/img/sider/sider-1.jpg);
      &:after {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: 0.93;
      }
    }
  }
  > app-content {
    height: 100%;
    width: 100%;
    padding-top: $tabs-height + $crumb-height;
    padding-left: $sider-width;
    transition: padding $transition-duration;
    display: block;
    > div {
      height: 100%;
      width: 100%;
    }
  }
  .#{$prefix} {
    &-inner {
      &.x-inner {
        display: flex;
        padding: 0.875rem !important;
      }
      @include ng-nest;
    }
    &-panel {
      border-radius: $--x-border-radius;
      > h4 {
        margin: 0;
        position: relative;
        padding: 0 $--x-padding-large;
        height: 35px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $--x-text-300;
        > x-link {
          margin-left: 0.25rem;
        }
      }
    }
    &-content {
      padding: $--x-padding-large;
      overflow: auto;
    }
    &-column {
      flex-direction: column;
    }
    &-tree-left {
      width: 18rem;
      display: block;
      margin-right: $--x-padding-large;
      x-tree {
        display: block;
        padding: $--x-padding-large;
        overflow-y: auto;
      }
      .x-tree-node-content {
        &.x-activated {
          color: $--x-primary;
        }
      }
    }
    &-tree-node {
      flex: 1;
      display: flex;
      align-items: center;
    }
    &-tree-btn {
      margin-left: 2rem;
      display: none;
    }
    &-form-right {
      flex: 1;
    }
    &-table-right {
      flex: 1;
    }
    &-table-actions {
      display: flex;
      align-items: center;
      x-link:not(:first-child) {
        margin-left: 0.5rem;
      }
      .x-icon {
        font-size: 1rem;
      }
    }
    &-overflow-auto {
      overflow: auto;
    }
    &-overflow-x {
      overflow-x: auto;
    }
    &-overflow-y {
      overflow-y: auto;
    }
  }
}

// 浮动菜单样式
app-float-node {
  > ul {
    padding: 0.5rem 0;
    max-width: $sider-width;
    min-width: $sider-width - 2rem;
    box-shadow: $--x-box-shadow-light;
  }
  @include silder;
}

// 明亮模式
.x-light {
  $--x-box-shadow-light: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
  $--x-border-base: 1px solid rgba(0, 0, 0, 0.08);
  $background-color: white;
  $tabs-background-color: #f1f3f5;
  app-index {
    > app-tabs {
      background-color: $tabs-background-color;
      .x-slider-scroll > ul > li.x-slider-highlight {
        background-color: $background-color;
      }
      .tab {
        border-right: 1px solid rgba(0, 0, 0, 0.04);
      }
    }

    > app-crumb {
      background-color: $background-color;
    }

    > app-sider {
      border-right: $--x-border-base;
      > .silder-image {
        &:after {
          background-color: $background-color;
        }
      }
    }

    .#{$prefix} {
      &-panel {
        background-color: $background-color;
        box-shadow: $--x-box-shadow-light;
        > h4 {
          border-bottom: $--x-border-base;
        }
      }
      &-tree-left {
        x-tree {
          background-color: $background-color;
        }
      }
      &-form-right {
        x-form {
          background-color: $background-color;
        }
      }
    }

    .x-button,
    .x-table,
    .x-card {
      box-shadow: $--x-box-shadow-light;
    }

    .x-table {
      border: none;
      background-color: $background-color;
      > thead > tr > th {
        background-color: $background-color;
        border-bottom: $--x-border-base;
      }
      > tbody tr > td {
        background-color: $background-color;
        border-bottom: $--x-border-base;
      }
    }

    .x-card {
      border: none;
      background-color: $background-color;
    }
  }
  app-float-node {
    > ul {
      background-color: $background-color;
    }
  }
}

// 暗黑模式
.x-dark {
  $--x-box-shadow-light: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
  $--x-border-base: 1px solid rgba(0, 0, 0, 0.4);
  $background-color: #1e1e1f;
  $background-color-light: #272727;
  $background-color-light-100: #2f2f2f;
  app-index {
    background-color: $background-color;
    > app-tabs {
      background-color: $background-color;
      .x-slider-scroll > ul > li.x-slider-highlight {
        background-color: $background-color-light-100;
      }
      .tab {
        border-right: $--x-border-base;
      }
    }

    > app-crumb {
      background-color: $background-color-light-100;
    }

    > app-sider {
      border-right: $--x-border-base;
      > .silder-image {
        &:after {
          background-color: #1d1d1d;
        }
      }
    }

    .#{$prefix} {
      &-panel {
        background-color: $background-color-light;
        box-shadow: $--x-box-shadow-light;
        > h4 {
          border-bottom: $--x-border-base;
        }
      }
      &-tree-left {
        x-tree {
          background-color: $background-color-light;
        }
      }
      &-form-right {
        x-form {
          background-color: $background-color-light;
        }
      }
    }

    .x-button,
    .x-table,
    .x-card {
      box-shadow: $--x-box-shadow-light;
    }

    .x-table {
      border: none;
      background-color: $background-color-light;
      > thead > tr > th {
        background-color: $background-color-light;
        border-bottom: $--x-border-base;
      }
      > tbody tr > td {
        background-color: $background-color-light;
        border-bottom: $--x-border-base;
      }
    }

    .x-card {
      border: none;
      background-color: $background-color-light;
    }
  }
  app-float-node {
    > ul {
      background-color: $background-color-light-100;
      box-shadow: $--x-box-shadow-light;
    }
  }
}

// 框架页中缩起菜单栏后的样式
app-index.sider-shrink {
  > app-tabs,
  > app-crumb {
    left: $tabs-height + 0.625rem;
    width: calc(100% - #{$tabs-height + 0.625rem});
  }
  > app-content {
    padding-left: $tabs-height + 0.625rem;
  }
  > app-sider {
    width: $tabs-height + 0.625rem;
    > app-header {
      padding: 0.75rem;
      > .logo {
        img {
          width: 1.5rem;
        }
        .title {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
    li {
      a {
        span,
        .sider-arrow {
          visibility: hidden;
          opacity: 0;
        }
      }
      ul {
        visibility: hidden;
        height: 0;
        opacity: 0;
      }
    }
  }
}
