<div class="string">
  <form [formGroup]="form">
    <div class="group enum-const">
      <div class="item">
        <label>{{ '$schema.enum' | xI18n }}</label>
        <x-switch formControlName="isEnum" (ngModelChange)="onIsEnumChange($event)"></x-switch>
      </div>
      <div class="item">
        <label>{{ '$schema.const' | xI18n }}</label>
        <div class="const">
          <x-switch formControlName="isConst" (ngModelChange)="onIsConstChange($event)"></x-switch>
          @if (isConst) {
            <x-input
              class="const-input"
              [placeholder]="'$schema.constPlaceholder' | xI18n"
              formControlName="const"
            ></x-input>
          }
        </div>
      </div>
    </div>
    @if (isEnum) {
      <div class="group enums">
        <table formArrayName="enums" class="enum-table">
          <tr>
            <td>{{ '$schema.enumValue' | xI18n }}</td>
            <td>{{ '$schema.description' | xI18n }}</td>
            <td width="75"></td>
          </tr>
          @for (item of enumFormArray.controls; track item) {
            <tr [formGroupName]="$index">
              <td>
                <x-input [placeholder]="'$schema.enumValuePlaceholder' | xI18n" formControlName="value"></x-input>
              </td>
              <td>
                <x-input [placeholder]="'$base.pleaseInputDescription' | xI18n" formControlName="description"></x-input>
              </td>
              <td>
                <a x-tooltip [content]="'$schema.addNeighbor' | xI18n" class="add-enum" (click)="addEnumRow($index)">
                  <x-icon type="fto-plus-circle"></x-icon>
                </a>
                @if (enumFormArray.controls.length !== 1) {
                  <a class="delete-enum" (click)="removeEnumRow($index)">
                    <x-icon type="fto-minus-circle"></x-icon>
                  </a>
                }
              </td>
            </tr>
          }
        </table>
      </div>
    }
    <div class="group">
      <div class="item">
        <label>{{ '$schema.format' | xI18n }}</label>
        <x-select formControlName="format" [data]="formats"> </x-select>
      </div>
      <div class="item">
        <label>{{ '$schema.behavior' | xI18n }}</label>
        <x-select formControlName="behavior" [data]="behaviors"> </x-select>
      </div>
      <div class="item">
        <label>{{ '$schema.minLength' | xI18n }}</label>
        <x-input-number [min]="0" placeholder=">=0" formControlName="minLength"></x-input-number>
      </div>
      <div class="item">
        <label>{{ '$schema.maxLength' | xI18n }}</label>
        <x-input-number [min]="0" placeholder=">=0" formControlName="maxLength"></x-input-number>
      </div>
      <div class="item">
        <label>{{ '$schema.default' | xI18n }}</label>
        <x-input
          formControlName="default"
          [placeholder]="'$schema.defaultPlaceholder' | xI18n"
          search
          allowInput
          multiple
        ></x-input>
      </div>
      <div class="item">
        <label>{{ '$schema.pattern' | xI18n }}</label>
        <x-input formControlName="pattern" placeholder="^[A-Za-z0-9]+"></x-input>
      </div>
    </div>
    <div class="group one">
      <div class="item">
        <label>{{ '$schema.example' | xI18n }}</label>
        <x-select
          formControlName="examples"
          [placeholder]="'$schema.examplePlaceholder' | xI18n"
        ></x-select>
      </div>
    </div>
  </form>
</div>
