:host {
  .content {
    display: flex;
    padding: 0;
  }
  .left {
    width: 10rem;
  }
  .right {
    flex: 1;
  }
  .attrs {
    display: grid;
    padding: 0;
  }
  .attrs-table {
    width: 100%;
    padding: 0 1.25rem 1.25rem 1.25rem;
  }
  .tools {
    padding: 0 1.25rem;
  }
  .query {
    padding: 1.25rem;
    border-bottom: var(--x-border-width) var(--x-border-style) var(--x-border);
  }

  .empty {
    padding: 2rem;
  }
}

.variable-setting {
  ::ng-deep .x-dialog-portal {
    padding: 0;
  }
}
