<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">变量设置</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content attrs">
    @if (variableCategoryIsEmpty) {
      <div class="empty">
        <x-empty [content]="contentTemp">
          <ng-template #contentTemp>
            <span>没有数据</span>
            <x-button type="primary" icon="fto-plus" text (click)="createCategory()">
              创建变量分类
            </x-button>
          </ng-template>
        </x-empty>
      </div>
    } @else {
      <div class="left">
        <div class="list">
          <x-button icon="fto-plus" flat plain (click)="createCategory()"> 新增分类 </x-button>
          @for (item of variableCategorys(); track item.id) {
            <div
              class="item"
              [class.selected]="form.getRawValue().variableCategoryId === item.id"
              (click)="form.patchValue({ variableCategoryId: item.id })"
            >
              <span>
                {{ item.name }} <br />
                {{ item.code }}
              </span>
              <span class="operations">
                <x-link
                  x-tooltip
                  [content]="'修改'"
                  type="primary"
                  icon="fto-edit"
                  (click)="action($event, 'edit', item)"
                ></x-link>
                <x-link
                  x-tooltip
                  [content]="'删除'"
                  type="danger"
                  icon="fto-minus-square"
                  (click)="action($event, 'delete', item)"
                ></x-link>
              </span>
            </div>
          }
        </div>
      </div>
      <div class="right">
        <div class="tools">
          <x-button icon="fto-plus" attrType="button" flat plain (click)="add()">增加</x-button>
        </div>
        <div class="attrs-table">
          <table>
            <thead>
              <tr>
                <th width="200" class="required">变量名</th>
                <th width="160">数据类型</th>
                <th width="200">值</th>
                <th>说明</th>
                <th width="80">操作</th>
              </tr>
            </thead>
            <tbody [x-loading]="tableLoading()" formArrayName="many">
              @for (item of many.controls; track item) {
                <tr [formGroupName]="$index">
                  <td>
                    <x-input formControlName="code"></x-input>
                  </td>
                  <td>
                    <x-select
                      [data]="typeList()"
                      formControlName="type"
                      [clearable]="false"
                    ></x-select>
                  </td>
                  <td>
                    @if (item.getRawValue().type === 'json-schema') {
                      <x-cascade
                        [data]="schemaList()"
                        nodeTrigger="hover"
                        
                        formControlName="value"
                      ></x-cascade>
                    } @else {
                      <x-input formControlName="value"></x-input>
                    }
                  </td>
                  <td>
                    <x-input formControlName="description"></x-input>
                  </td>
                  <td>
                    <x-button
                      icon="fto-trash-2"
                      attrType="button"
                      flat
                      plain
                      (click)="remove($index)"
                    >
                      删除
                    </x-button>
                  </td>
                </tr>
              }
              @if (many.getRawValue().length === 0) {
                <tr>
                  <td colspan="6">
                    <x-empty [content]="contentTemp">
                      <ng-template #contentTemp>
                        <span>没有变量数据</span>
                      </ng-template>
                    </x-empty>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    }
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>取消</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="!form.valid"
    >
      保存
    </x-button>
  </div>
</form>
