<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">{{ id() ? '修改' : '新增' }}提示词</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content attrs">
    <div class="item required">
      <label>名称：</label>
      <x-input formControlName="name" placeholder="请输入提示词名称" required></x-input>
    </div>
    <div class="item required">
      <label>使用模型：</label>
      <x-select
        [data]="modelTypeList()"
        formControlName="modelType"
        placeholder="请选择模型分类"
        required
      ></x-select>
      <x-select
        [data]="modelList()"
        formControlName="modelId"
        placeholder="请选择模型"
        required
      ></x-select>
    </div>
    <div class="item">
      <label>系统提示词：</label>
      <app-editor
        class="editor"
        formControlName="system"
        [filename]="'markdown.md'"
        [style.height.rem]="8"
        [style.flex]="1"
        [options]="{
          placeholder: '请输入系统提示词',
          lineNumbers: 'off',
          minimap: { enabled: false }
        }"
      ></app-editor>
    </div>
    <div class="item required">
      <label>用户提示词：</label>
      <app-editor
        class="editor"
        formControlName="user"
        [filename]="'markdown.md'"
        [style.height.rem]="8"
        [style.flex]="1"
        [options]="{
          placeholder: '请输入用户提示词',
          lineNumbers: 'off',
          minimap: { enabled: false }
        }"
      ></app-editor>
    </div>

    @if (userVars.controls.length > 0) {
      <div class="item attrs-table" formArrayName="userVars">
        <label>用户变量：</label>
        <table [style.flex]="1">
          <thead>
            <tr>
              <th width="60">序号</th>
              <th width="180">变量</th>
              <th>值</th>
            </tr>
          </thead>
          <tbody>
            @for (control of userVars.controls; track control) {
              <tr [formGroupName]="$index">
                <td class="index">{{ $index + 1 }}</td>
                <td>
                  <x-input formControlName="label"></x-input>
                </td>
                <td>
                  <x-input formControlName="value" placeholder="请输入" required></x-input>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    }

    <div class="item">
      <label></label>
      <x-button
        icon="fto-chevron-right"
        flat
        plain
        (click)="sendTest()"
        [disabled]="!form.valid || !varsValid"
      >
        发送测试
      </x-button>
    </div>

    <div class="item">
      <label>描述：</label>
      <x-input formControlName="description" placeholder="请输入描述"></x-input>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>取消</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="!form.valid"
      >保存</x-button
    >
  </div>
</form>
