<div class="string">
  <form [formGroup]="form">
    <div class="group">
      <div class="item">
        <label>{{ '$schema.minItems' | xI18n }}</label>
        <x-input-number [min]="0" placeholder=">=0" formControlName="minItems"></x-input-number>
      </div>
      <div class="item">
        <label>{{ '$schema.maxItems' | xI18n }}</label>
        <x-input-number [min]="0" placeholder=">=0" formControlName="maxItems"></x-input-number>
      </div>
      <div class="item">
        <label>{{ '$schema.uniqueItems' | xI18n }}</label>
        <x-switch formControlName="uniqueItems"></x-switch>
      </div>
      <div class="item">
        <label>{{ '$schema.behavior' | xI18n }}</label>
        <x-select formControlName="behavior" [data]="behaviors"> </x-select>
      </div>
    </div>
  </form>
</div>
