<div class="string">
  <form [formGroup]="form">
    <div class="group">
      <div class="item">
        <label>最小元素个数</label>
        <x-input-number [min]="0" placeholder=">=0" formControlName="minItems"></x-input-number>
      </div>
      <div class="item">
        <label>最大元素个数</label>
        <x-input-number [min]="0" placeholder=">=0" formControlName="maxItems"></x-input-number>
      </div>
      <div class="item">
        <label>所有元素必须唯一</label>
        <x-switch formControlName="uniqueItems"></x-switch>
      </div>
      <div class="item">
        <label>行为</label>
        <x-select formControlName="behavior" [data]="behaviors"> </x-select>
      </div>
    </div>
  </form>
</div>
