:host {
  .node {
    display: flex;
    align-items: flex-start;
    border-top: var(--x-border-width) var(--x-border-style) transparent;
    border-left: var(--x-border-width) var(--x-border-style) transparent;
    border-right: var(--x-border-width) var(--x-border-style) transparent;
    border-bottom: var(--x-border-width) var(--x-border-style) var(--x-border);
    &.drag-node {
      opacity: 0.5;
      border: var(--x-border-width) dashed var(--x-primary);
    }
    &.object-children {
      margin-right: 1.875rem;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25rem;
    margin: 0.1875rem 1.875rem 0.1875rem 0.1875rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.125rem;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    height: 1.875rem;
    width: 1.875rem;
    font-size: 1.125rem;
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.9);
    }
    &.visibility {
      visibility: hidden;
    }
    &.root {
      margin: 0.1875rem;
    }
  }
}
