<cdk-tree
  #tree
  [dataSource]="dataSource()"
  [childrenAccessor]="childrenAccessor"
  [trackBy]="treeTrackBy"
>
  <cdk-tree-node
    *cdkTreeNodeDef="let node; let level = level"
    cdkTreeNodePadding
    [style.display]="shouldRender(node) ? 'flex' : 'none'"
    class="node"
    [title]="node.id"
  >
    @if (node.children && node.children.length > 0) {
      @if (tree.isExpanded(node)) {
        <x-icon class="icon" [type]="'fto-chevron-down'" cdkTreeNodeToggle></x-icon>
      } @else {
        <x-icon class="icon" [type]="'fto-chevron-right'" cdkTreeNodeToggle></x-icon>
      }
    } @else {
      @if (tree.isExpanded(node)) {
        <x-icon class="icon visibility" [type]="'fto-chevron-down'"></x-icon>
      } @else {
        <x-icon class="icon visibility" [type]="'fto-chevron-right'"></x-icon>
      }
    }
    <ng-container
      *ngTemplateOutlet="nodeTpl(); context: { $node: node, $level: level }"
    ></ng-container>
  </cdk-tree-node>
</cdk-tree>
