<cdk-tree
  #tree
  [dataSource]="dataSource()"
  [childrenAccessor]="childrenAccessor"
  [trackBy]="treeTrackBy"
  [class.dragging]="schema.dragging()"
>
  <cdk-tree-node
    *cdkTreeNodeDef="let node; let level = level"
    cdkTreeNodePadding
    [cdkTreeNodePaddingIndent]="20"
    class="node"
    [style.display]="shouldRender(node) ? 'flex' : 'none'"
    [class.drag-node]="schema.dragging() && node.id === schema.dragNode()?.id"
    [title]="node.id"
    (dragover)="onDragover($event)"
    (dragenter)="onDragenter($event, node)"
    (dragleave)="onDragleave($event)"
  >
    @if (node.children && node.children.length > 0) {
      @if (tree.isExpanded(node)) {
        <x-icon
          class="icon"
          [class.root]="node.name === '$root'"
          [type]="'fto-chevron-down'"
          cdkTreeNodeToggle
        ></x-icon>
      } @else {
        <x-icon
          class="icon"
          [class.root]="node.name === '$root'"
          [type]="'fto-chevron-right'"
          cdkTreeNodeToggle
        ></x-icon>
      }
    } @else {
      @if (tree.isExpanded(node)) {
        <x-icon class="icon visibility" [type]="'fto-chevron-down'"></x-icon>
      } @else {
        <x-icon class="icon visibility" [type]="'fto-chevron-right'"></x-icon>
      }
    }
    <ng-container
      *ngTemplateOutlet="nodeTpl(); context: { $node: node, $level: level }"
    ></ng-container>
  </cdk-tree-node>
</cdk-tree>
