<div class="app-inner">
  <div class="app-left">
    <form class="form" [formGroup]="form">
      <div class="item">
        <x-tree-select
          formControlName="category"
          [placeholder]="'请选择一个代码分类'"
          [data]="categories()"
          [expandedLevel]="3"
          showPath
        ></x-tree-select>
        <x-dropdown [data]="dropdownMenu()" (nodeClick)="onDropdownClick($event)">
          <x-button icon="fto-more-horizontal" type="primary" flat></x-button>
        </x-dropdown>

        <input #folderInput type="file" [style.display]="'none'" webkitdirectory multiple />
      </div>
    </form>
    <div class="catalogue" [x-loading]="treeLoading()">
      @if (!treeLoading() && treeData().length === 0) {
        <x-empty></x-empty>
      }
      <x-tree
        #treeCom
        [data]="treeData()"
        [labelTpl]="treeNode"
        showLine
        expandedLevel="0"
        (nodeClick)="onNodeClick($event)"
      >
      </x-tree>
      <ng-template #treeNode let-node="$node">
        <div class="tree-node">
          <div class="label">
            @if (node.type === 'Folder') {
              @if (node.open) {
                <x-icon type="admin:folder-open"></x-icon>
              } @else {
                <x-icon type="admin:folder"></x-icon>
              }
            } @else if (node.type === 'File') {
              <x-icon [type]="node.label | appFileIcon"></x-icon>
            }
            <span>{{ node.label }}</span>
            @if (node.many) {
              <span
                class="many"
                x-tooltip
                content="根据指定的数据定义变量生成多次，文件名中最好使用对应的变量名"
                >多</span
              >
            }
          </div>
          <div class="actions">
            @if (node.type === 'Folder') {
              <x-link
                x-tooltip
                [content]="'添加子节点'"
                type="primary"
                icon="fto-plus-square"
                (click)="action($event, 'add-child', node)"
              ></x-link>
            }
            @if (node.type === 'File') {
              <x-link
                x-tooltip
                [content]="'预览生成代码'"
                type="primary"
                icon="fto-hash"
                (click)="action($event, 'preview', node)"
              ></x-link>
              <x-link
                x-tooltip
                [content]="'下载代码'"
                type="primary"
                icon="fto-download"
                (click)="action($event, 'download', node)"
              ></x-link>
            }
            <x-link
              x-tooltip
              [content]="'修改节点'"
              type="primary"
              icon="fto-edit"
              (click)="action($event, 'edit', node)"
            ></x-link>
            <x-link
              x-tooltip
              [content]="'删除节点'"
              type="danger"
              icon="fto-minus-square"
              (click)="action($event, 'delete', node)"
            ></x-link>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <form
    class="app-right"
    [formGroup]="editorForm"
    (ngSubmit)="saveContent()"
    [x-loading]="saveContentLoading()"
    background="rgba(0,0,0,0.4)"
    color="rgba(170,170,170,1)"
  >
    <app-editor formControlName="content" [filename]="filename()"></app-editor>
    <div class="bottom-buttons">
      <x-button
        flat
        icon="fto-save"
        type="primary"
        attrType="submit"
        [loading]="saveContentLoading()"
        [disabled]="!form.valid"
        >保存</x-button
      >
    </div>
  </form>
</div>
