:host {
  .app-inner {
    display: flex;
  }
  .app-left,
  .app-right {
    padding: 1rem;
    background-color: var(--x-background);
    border-radius: var(--x-border-radius);
    box-shadow: var(--x-box-shadow) var(--x-box-shadow-light-color);
  }
  .app-left {
    height: calc(100vh - 4.25rem);
    width: 34rem;
    overflow: auto;
    .form {
      width: 100%;
      .item {
        display: flex;
        align-items: center;
      }
      x-dropdown {
        margin-left: 0.5rem;
      }
      x-tree-select {
        width: 100%;
      }
    }
    .catalogue {
      margin-top: 1rem;
      height: calc(100vh - 9.5rem);
      overflow: auto;
    }
  }
  .app-right {
    flex: 1;
    padding: 0;
    height: calc(100vh - 7.5rem);
  }

  .tree-node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    x-icon {
      font-size: 1.25rem;
    }

    .label {
      display: flex;
      align-items: center;
      x-icon {
        margin-right: 0.25rem;
      }
    }
    .many {
      background-color: rgba(0, 0, 0, 0.08);
      border-radius: var(--x-border-radius);
      color: var(--x-text-500);
      padding: 0.125rem 0.25rem;
      margin-left: 0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--x-font-size-mini);
    }
    .actions {
      display: none;
      align-items: center;
      font-size: 1.25rem;
      x-link {
        padding: 0.25rem;
      }
    }
    &:hover {
      .actions {
        display: flex;
      }
    }
  }
  .bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
