:host {
  .content {
    padding: 2rem 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .item {
      label {
      }
    }

    x-input,
    x-textarea {
      flex: 1;
    }
  }
}
