<form [x-loading]="formLoading()" class="app-dialog-form">
  <h4 x-dialog-title class="title">{{ '$cache.info' | xI18n }}</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content attrs">
    <div class="item">
      <label>{{ '$cache.cate' | xI18n }}</label>
      <span>{{ typeMap.get(type()) ?? type() }} </span>
    </div>
    <div class="attrs-table app-table">
      <table>
        <thead>
          <tr>
            <th>{{ '$base.index' }}</th>
            <th>{{ '$cache.keys' }}</th>
            <th width="160">{{ '$base.operate' }}</th>
          </tr>
        </thead>
        <tbody>
          @for (item of list(); track item.key) {
            <tr>
              <td class="index">{{ $index + 1 }}</td>
              <td>{{ item.json }}</td>
              <td class="operate">
                <x-link type="primary" (click)="action('view', item.key)">{{
                  '$cache.viewData' | xI18n
                }}</x-link>
                <x-link type="danger" (click)="action('delete', item.key)">
                  {{ '$base.delete' | xI18n }}
                </x-link>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button size="large" icon="fto-x" attrType="button" flat plain x-dialog-close>{{
      '$base.close'
    }}</x-button>
  </div>
</form>
