:host {
  .attrs {
    .item {
      align-items: center;
      label {
        width: initial;
      }
    }
  }
  .app-table {
    padding: 0;
    margin: 0;

    tr td {
      padding: 0.5rem 0.75rem;
    }
  }
}
