<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">{{ '$user.resetPassword' | xI18n }}</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="item required">
      <label>{{ '$user.newPassword' | xI18n }}</label>
      <x-input
        formControlName="password"
        type="password"
        [placeholder]="'$user.newPasswordPlaceholder' | xI18n"
        required
      ></x-input>
    </div>
    <div class="item required">
      <label>{{ '$user.confirmPassword' | xI18n }}</label>
      <x-input
        formControlName="checkPassword"
        type="password"
        [placeholder]="'$user.confirmPasswordPlaceholder' | xI18n"
        required
        [message]="'$user.passwordNotMatch' | xI18n"
        [inputValidator]="passwordCheck"
      ></x-input>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>{{ '$base.cancel' | xI18n }}</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="!form.valid"
      >{{ '$base.save' | xI18n }}</x-button
    >
  </div>
</form>
