<form [x-loading]="formLoading" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title>重置密码</h4>
  <div x-dialog-content>
    <div class="list">
      <div class="item required">
        <label>新的密码：</label>
        <x-input formControlName="password" type="password" placeholder="请输入新的密码" required></x-input>
      </div>
      <div class="item required">
        <label>确认密码：</label>
        <x-input
          formControlName="checkPassword"
          type="password"
          placeholder="请再次输入用户密码"
          required
          message="密码不一致"
          [inputValidator]="passwordCheck"
        ></x-input>
      </div>
    </div>
  </div>
  <div x-dialog-actions align="center">
    <x-button icon="fto-x" attrType="button" x-dialog-close>取消</x-button>
    <x-button icon="fto-save" type="primary" attrType="submit" [loading]="saveLoading" [disabled]="!form.valid">保存</x-button>
  </div>
</form>
