@import '../index.param';

app-content {
  height: 100%;
  width: 100%;
  padding-top: $tabs-height + $crumb-height;
  padding-left: $sider-width;
  transition: padding $transition-duration;
  display: block;
  > div {
    height: 100%;
    width: 100%;
  }
}
