:root {
  --nm-primary-color-dark: #303f9f;
  --nm-primary-color: #3f51b5;
  --nm-primary-color-light: #c5cae9;
  --nm-primary-color-text: #ffffff;
  --nm-accent-color: #ff5722;
  --nm-primary-text-color: #212121;
  --nm-secondary-text-color: #757575;
  --nm-divider-color: #bdbdbd;
}
