<x-inner class="ad-inner">
  <div class="ad-panel ad-tree-left">
    <h4>组织机构</h4>
    <x-tree
      #treeCom
      ad-adaption
      [outerHeight]="140"
      [data]="treeData"
      expandedLevel="0"
      [nodeHeight]="1.875"
      (activatedChange)="action('tree-info', $event)"
    >
    </x-tree>
  </div>
  <div class="ad-table-right">
    <ad-tool top>
      <x-button type="primary" icon="fto-plus" (click)="action('add')">新增</x-button>
    </ad-tool>
    <x-table
      #tableCom
      [columns]="columns"
      [rowHeight]="35"
      [data]="data"
      [size]="20"
      [(index)]="index"
      [query]="query"
      [bodyHeight]="100"
      [bodyColumnTpl]="{ actions: actionsTpl }"
      [adaptionHeight]="148"
      virtualScroll
      loading
    ></x-table>
  </div>
</x-inner>

<ng-template #actionsTpl let-column="$column" let-row="$row">
  <div class="ad-table-actions">
    <x-link icon="fto-eye" (click)="action('info', row)" title="查看"></x-link>
    <x-link icon="fto-edit" (click)="action('edit', row)" title="修改"></x-link>
    <x-link icon="fto-list" (click)="action('permission', row)" title="权限设置"></x-link>
    <x-link icon="fto-trash-2" (click)="action('delete', row)" title="删除"></x-link>
  </div>
</ng-template>
