@import "index";
app-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    background: #e7e7e7;
    padding: 50px 80px;
    border-radius: 2px;
    > li {
      margin: 5px;
      > nm-input > p {
        > input {
          border-radius: 3px;
          font-size: 14px;
          padding: 10px;
        }
        > span[class*="icon-"] {
          padding: 11px;
        }
      }
      nm-input.icon-left > p > input {
        padding-left: 33px;
      }
      &.login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        flex-direction: column;
        img.logo {
          width: 150px;
        }
        span {
          margin-top: 10px;
          font-size: 20px;
          letter-spacing: 2px;
        }
      }
      &.submit {
        margin-top: 30px;
      }
    }
  }
}
