<form (submit)="login()" [formGroup]="userForm">
  <ul>
    <li class="login">
      <img class="logo" src="assets/img/logo.png" />
      <span>NG-NEST-ADMIN</span>
    </li>
    <li>
      <nm-input
        [formControlName]="'account'"
        [nmIcon]="'ado-user'"
        [nmIconLayout]="'left'"
      ></nm-input>
    </li>
    <li>
      <nm-input
        [formControlName]="'password'"
        [nmIcon]="'ado-lock'"
        [nmType]="'password'"
        [nmIconLayout]="'left'"
      ></nm-input>
    </li>
    <li class="submit">
      <nm-button [nmLabel]="'登 录'" (click)="login()"></nm-button>
    </li>
  </ul>
</form>
