<form (submit)="login()" [formGroup]="userForm">
  <ul>
    <li class="login">
      <img class="logo" src="assets/img/logo/logo-96x96.png" />
      <span>NG-NEST-ADMIN</span>
    </li>
    <li>
      <x-input formControlName="account" icon="ado-user" iconLayout="left"></x-input>
    </li>
    <li>
      <x-input formControlName="password" icon="ado-lock" type="password" iconLayout="left"></x-input>
    </li>
    <li class="submit">
      <x-button type="primary" (click)="login()" [loading]="loading">登 录</x-button>
    </li>
  </ul>
</form>
