@use '../../../../../node_modules/@ng-nest/ui/style/params/index.scss' as *;

:host {
  display: block;
  .conversation {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &.test {
      gap: 1rem;
    }
    &.multiple {
      flex-direction: row;
      .left {
        height: 100%;
        width: 15rem;
        overflow-y: auto;
        border-right: $x-border-base;
        padding: 0;
        .new {
          padding: 1rem;
          x-button {
            width: 100%;
            border: $x-border-base;
            border-radius: $x-border-radius;
          }
        }
        .list {
          padding: 1rem;
          ::ng-deep {
            .x-list-option {
              border: $x-border-base;
              border-radius: $x-border-radius;
            }
          }
        }
      }
      .right {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
      }
      .content {
        height: 100%;
        width: 100%;
        overflow-y: auto;
        padding: 0;
        x-bubbles {
          padding: 1rem;
        }
      }
      .footer {
        position: absolute;
        align-items: center;
        padding: 0rem 1rem 1rem 1rem;
        width: 100%;
        bottom: 0;
      }
    }

    ::ng-deep {
      .x-bubble-content {
        font-family: $x-font-family;
        font-size: $x-font-size;
        line-height: 1.6;
        color: $x-text;
        box-sizing: border-box;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $x-black;
          margin-top: 0.8em;
          margin-bottom: 0.8em;
          font-weight: 600;
          line-height: 1.2;
          &:last-child {
            margin-bottom: 0;
          }
          &:first-child {
            margin-top: 0;
          }
        }

        h1 {
          font-size: 2.2em;
          border-bottom: $x-border-base;
          padding-bottom: 0.2em;
        }
        h2 {
          font-size: 1.8em;
        }
        h3 {
          font-size: 1.5em;
        }
        h4 {
          font-size: 1.3em;
        }
        h5 {
          font-size: 1.1em;
        }
        h6 {
          font-size: 1em;
          color: $x-text-300;
        }

        p {
          margin: 0 0 1em 0;
          &:last-child {
            margin-bottom: 0;
          }
        }

        a {
          color: $x-primary;
          text-decoration: none;
          transition: color 0.2s;
        }

        a:hover {
          color: $x-primary-300;
          text-decoration: underline;
        }

        ul,
        ol {
          padding-left: 2em;
          margin: 0.8em 0;
        }

        ul {
          list-style: disc;
        }

        ol {
          list-style: decimal;
        }

        blockquote {
          border-left: 0.125rem solid $x-primary-300;
          color: $x-text-300;
          margin: 1.5em 0;
          padding: 0.5em 1em;
          background-color: $x-background-a200;
          font-style: italic;
        }

        code {
          font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
          background-color: $x-background-a200;
          color: $x-warning;
          padding: 0.2em 0.4em;
          border-radius: 3px;
          font-size: 0.9em;
        }

        pre {
          background-color: $x-background-a200;
          border-radius: 6px;
          padding: 1em;
          overflow: auto;
          margin: 1.5em 0;
          border: $x-border-base;
        }

        pre code {
          background: none;
          color: #333;
          padding: 0;
          font-size: 0.95em;
        }

        hr {
          border: none;
          border-top: $x-border-base;
          margin: 2em 0;
        }

        table {
          width: 100%;
          border-collapse: collapse;
          margin: 1.5em 0;
          font-size: 0.95em;
        }

        table th,
        table td {
          padding: 0.6em 1em;
          text-align: left;
          border: $x-border-base;
        }

        table th {
          background-color: $x-background-a100;
          font-weight: 600;
        }

        img {
          max-width: 100%;
          height: auto;
          display: block;
          margin: 1em auto;
          border-radius: 6px;
        }

        strong {
          color: $x-black;
          font-weight: 600;
        }

        em {
          color: $x-text-300;
        }
      }
    }
  }
}
