<form [formGroup]="form()">
  <div class="row">
    <div class="left">
      @if (node().name !== '$root') {
        <div
          class="order"
          draggable="true"
          (dragstart)="onDragstart($event, node())"
          (dragend)="onDragend()"
        >
          <x-icon type="fto-grid"></x-icon>
        </div>
      }
      @if (node().name !== '$root' && !node().isArray) {
        <input
          class="input"
          formControlName="name"
          appAdjustWidth
          [minWidth]="200 - level() * 20"
          [maxWidth]="200 - level() * 20 - 10"
          [defaultValue]="node().name!"
          [placeholder]="'$schema.field' | xI18n"
        />
      }
      @if (node().isArray) {
        <div class="items" [style.width.px]="200 - level() * 20">
          <span class="label">ITEMS</span>
        </div>
      }
      <x-select
        class="type {{ form().controls['type'].value }}"
        [bordered]="false"
        [clearable]="false"
        formControlName="type"
        [data]="typeList"
      ></x-select>
      <div class="operation">
        <a
          class="icon"
          [class.selected-black]="getIsSetting(node())"
          [style.order]="2"
          x-tooltip
          [content]="'$schema.advancedSetting' | xI18n"
          (click)="onSetting()"
        >
          <x-icon type="fto-settings"></x-icon>
        </a>
        @if (!isRoot && node().type === 'object') {
          <a
            class="icon json-schema"
            [class.selected]="node().isJsonSchema"
            [style.order]="node().isJsonSchema ? 1 : 2"
            (click)="onJsonSchema(node().isJsonSchema!)"
            x-tooltip
            [content]="'$schema.jsonSchemaType' | xI18n"
          >
            <span>&#123;&#125;</span>
          </a>
        }
        @if (!isRoot && !node().isArray) {
          <a
            class="icon required"
            [class.selected]="node().required"
            [class.disabled]="node().isArray"
            [style.order]="node().required ? 1 : 2"
            (click)="!node().isArray && onRequired(node().required!)"
            x-tooltip
            [content]="'$schema.required' | xI18n"
          >
            <span>*</span>
          </a>
        }
        <a
          class="icon nullable"
          [style.order]="1"
          [class.selected]="node().nullable"
          [class.disabled]="node().type === 'null'"
          [style.order]="node().nullable ? 1 : 2"
          (click)="node().type !== 'null' && onNullable(node().nullable!)"
          x-tooltip
          [content]="'$schema.nullable' | xI18n"
        >
          <span>N</span>
        </a>
      </div>
    </div>
    <div class="right">
      <input
        formControlName="title"
        [placeholder]="'$schema.title' | xI18n"
        class="input"
        appAdjustWidth
        [minWidth]="50"
        [maxWidth]="140"
        [defaultValue]="node().title!"
        [title]="node().title"
      />

      <a
        x-popover
        [content]="descriptionTpl"
        [(visible)]="showDescriptionPopover"
        [maxWidth]="'18rem'"
        [trigger]="'click'"
        class="icon description"
        (click)="onShowDescription()"
        [class.not-empty]="!!node().description"
      >
        <x-icon type="fto-book-open"></x-icon>
      </a>
      <ng-template #descriptionTpl>
        <x-textarea
          #descriptionCtl
          [placeholder]="'$schema.description' | xI18n"
          [formControlName]="'description'"
          [height]="'4rem'"
        ></x-textarea>
      </ng-template>
      @if ((isRoot || node().isArray) && node().type === 'object') {
        <a x-tooltip [content]="'$codeGenerate.addSubNode' | xI18n" class="icon add" (click)="addSubNode(node())">
          <x-icon type="fto-plus"></x-icon>
        </a>
      }
      @if ((node().isArray && node().type !== 'object') || (isRoot && node().type !== 'object')) {
        <a class="icon add visibility">
          <x-icon type="fto-plus"></x-icon>
        </a>
      }
      @if (!isRoot && node().type === 'object' && !node().isJsonSchema && !node().isArray) {
        <x-dropdown
          class="dropdown"
          [data]="[
            { id: 1, label: ('$schema.addNeighborNode' | xI18n) },
            { id: 2, label: ('$schema.addChild' | xI18n) }
          ]"
          (nodeClick)="dropdownClick($event, node())"
        >
          <a class="icon add">
            <x-icon type="fto-plus"></x-icon>
          </a>
        </x-dropdown>
      }
      @if (
        !isRoot &&
        (node().type !== 'object' || (node().type === 'object' && node().isJsonSchema)) &&
        !node().isArray
      ) {
        <a x-tooltip [content]="'$schema.addNeighborNode' | xI18n" class="icon add" (click)="addAdjoinNode(node())">
          <x-icon type="fto-plus"></x-icon>
        </a>
      }
      @if (!isRoot && !isDeleteConfirm() && !node().isArray) {
        <a class="icon delete" (click)="deleteConfirm()">
          <x-icon type="fto-minus"></x-icon>
        </a>
      }
      @if (!isRoot && isDeleteConfirm() && !node().isArray) {
        <a class="icon delete-sure" (click)="deleteNode(node())">
          <x-icon type="fto-check"></x-icon>
        </a>
      }
      @if (isRoot || node().isArray) {
        <a class="icon delete visibility">
          <x-icon type="fto-minus"></x-icon>
        </a>
      }
    </div>
  </div>

  @if (isObjectNull && !node().isJsonSchema) {
    <div class="row no-object">
      <span>{{ '$schema.noField' | xI18n }}</span>
      <a (click)="addSubNode(node())">{{ '$base.add' | xI18n }}</a>
    </div>
  }
</form>
