@import 'params';

:host {
  position: fixed;
  height: 100%;
  width: 15rem;
  top: 0;
  left: 0;
  z-index: 11;
  transition:
    width $--x-animation-duration-slow,
    background-color $--x-animation-duration-slow;
  box-shadow: var(--x-box-shadow) var(--x-box-shadow-light-color);

  .aside {
    &-image {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      display: block;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50%;
      background-image: url(/assets/img/sider/sider-1.jpg);
      &::after {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-color: rgba(0, 0, 0, 0.95);
      }
    }
    &-logo {
      color: $--x-text;
      height: 3.25rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      box-sizing: border-box;
      position: relative;
      z-index: 10;
      > img {
        width: 2rem;
        transition:
          width $--x-animation-duration-slow,
          padding $--x-animation-duration-slow;
      }
      > span {
        font-size: $--x-font-size-big;
        margin-left: 0.625rem;
        visibility: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition:
          visibility $--x-animation-duration-slow,
          opacity $--x-animation-duration-slow;
      }
    }
    &-menus {
      position: relative;
      z-index: 10;
      padding: 0 1rem;
      ::ng-deep .x-menu-nodes .x-menu-node {
        border-right: none;
        color: $--x-primary-900;

        x-menu-node > a {
          color: $--x-primary-900;
        }
        &:hover {
          background-color: rgba(50, 50, 50, 0.5);
        }
        &.x-activated {
          background-color: rgba(50, 50, 50, 0.9);
          x-menu-node > a {
            color: $--x-primary;
          }
          &::after {
            right: 0;
            border-right-width: 0.25rem;
          }
        }
      }
    }
  }
}
