<x-inner class="ad-inner ad-column">
  <ad-tool top>
    <x-buttons [space]="0.5">
      <x-button (click)="action('cancel')" icon="fto-chevron-left">返回</x-button>
      <x-button icon="fto-save" type="primary" (click)="!formInvalid && action('save')" [disabled]="formInvalid || disabled">
        保存
      </x-button>
    </x-buttons>
  </ad-tool>
  <x-form
    #form
    class="ad-panel ad-overflow-auto"
    ad-adaption
    [outerHeight]="197"
    [disabled]="disabled"
    [controls]="controls"
    direction="row"
    labelSuffix=":"
    labelWidth="6rem"
    width="30rem"
    labelAlign="end"
    span="20"
    space="2"
  ></x-form>
</x-inner>
