<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form">
  <h4 x-dialog-title class="title">
    过期时间：{{ item()?.expiretime | date: 'yyyy-MM-dd HH:mm:ss' }}
  </h4>
  <x-button
    class="close"
    icon="fto-x"
    size="large"
    flat
    text
    (click)="dialogRef.close()"
  ></x-button>
  <div x-dialog-content class="content full">
    <div class="item">
      <app-editor formControlName="jsonContent" [filename]="'jsonschema.json'"></app-editor>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button icon="fto-x" attrType="button" flat plain (click)="dialogRef.close()">关闭</x-button>
  </div>
</form>
