<form [formGroup]="form">
  <div class="group enum-const">
    <div class="item">
      <label>{{ '$schema.enum' | xI18n }}</label>
      <x-switch formControlName="isEnum" (ngModelChange)="onIsEnumChange($event)"></x-switch>
    </div>
    <div class="item">
      <label>{{ '$schema.const' | xI18n }}</label>
      <div class="const">
        <x-switch formControlName="isConst" (ngModelChange)="onIsConstChange($event)"></x-switch>
        @if (isConst) {
          <x-input class="const-input" [placeholder]="'$schema.constPlaceholder' | xI18n" formControlName="const"></x-input>
        }
      </div>
    </div>
  </div>
  @if (isEnum) {
    <div class="group enums">
      <table formArrayName="enums" class="enum-table">
        <tr>
          <td>{{ '$schema.enumValue' | xI18n }}</td>
          <td>{{ '$schema.description' | xI18n }}</td>
          <td width="75"></td>
        </tr>
        @for (item of enumFormArray.controls; track item) {
          <tr [formGroupName]="$index">
            <td>
              <x-input [placeholder]="'$schema.enumValuePlaceholder' | xI18n" formControlName="value" [type]="'number'"></x-input>
            </td>
            <td>
              <x-input [placeholder]="'$base.pleaseInputDescription' | xI18n" formControlName="description"></x-input>
            </td>
            <td>
              <a x-tooltip [content]="'$schema.addNeighbor' | xI18n" class="add-enum" (click)="addEnumRow($index)">
                <x-icon type="fto-plus-circle"></x-icon>
              </a>
              @if (enumFormArray.controls.length !== 1) {
                <a class="delete-enum" (click)="removeEnumRow($index)">
                  <x-icon type="fto-minus-circle"></x-icon>
                </a>
              }
            </td>
          </tr>
        }
      </table>
    </div>
  }
  <div class="group">
    <div class="item">
      <label>{{ '$schema.format' | xI18n }}</label>
      <x-select formControlName="format" [data]="formats"> </x-select>
    </div>
    <div class="item">
      <label>{{ '$schema.behavior' | xI18n }}</label>
      <x-select formControlName="behavior" [data]="behaviors"> </x-select>
    </div>
  </div>
  <div class="group one">
    <div class="item">
      <label>{{ '$schema.default' | xI18n }}</label>
      <x-input-number formControlName="default" [placeholder]="'$schema.defaultPlaceholder' | xI18n"></x-input-number>
    </div>
  </div>
  <div class="group one">
    <div class="item">
      <label>{{ '$schema.example' | xI18n }}</label>
      <x-select
        formControlName="examples"
        [placeholder]="'$schema.examplePlaceholder' | xI18n"
        search
        allowInput
        multiple
      ></x-select>
    </div>
  </div>
  <div class="group">
    <div class="item">
      <label>{{ '$schema.minimum' | xI18n }}</label>
      <x-input-number [min]="0" placeholder=">=0" formControlName="minimum"></x-input-number>
      @if (minimum > -1) {
        <x-checkbox
          formControlName="exclusiveMinimum"
          [data]="['$schema.exclusiveMinimum' | xI18n]"
          single
        ></x-checkbox>
      }
    </div>
    <div class="item">
      <label>{{ '$schema.maximum' | xI18n }}</label>
      <x-input-number [min]="0" placeholder=">=0" formControlName="maximum"></x-input-number>
      @if (maximum > -1) {
        <x-checkbox
          formControlName="exclusiveMaximum"
          [data]="['$schema.exclusiveMaximum' | xI18n]"
          single
        ></x-checkbox>
      }
    </div>
    <div class="item">
      <label>{{ '$schema.multipleOf' | xI18n }}</label>
      <x-input-number [min]="0" placeholder=">=0" formControlName="multipleOf"></x-input-number>
    </div>
  </div>
</form>
