// 组件样式
@mixin ng-nest {
  x-form {
    display: block;
  }
  x-row {
    flex: 1;
  }
  x-doc {
    > h2:first-of-type {
      margin-top: 0;
    }
    padding: 0;
    table {
      th,
      td {
        padding: 0 $--x-padding-large;
      }
      th {
        background-color: $--x-background-a100;
      }
    }
  }
  .x-card {
    .x-card-header {
      padding: 0 $--x-padding-large;
      height: 35px;
      font-weight: 600;
      color: $--x-text-300;
    }
  }
}
