:host {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    .form-title {
      margin-top: 2rem;
      min-width: 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    x-steps {
      margin-top: 4rem;
      min-width: 20rem;
    }

    ::ng-deep {
      .x-tabs-block.x-tabs-top > .x-tabs-contents {
        background-color: var(--x-background);
      }
    }

    .form {
      padding-top: 2rem;
      min-width: 55rem;
      border: var(--x-border-width) var(--x-border-style) var(--x-border);
      border-radius: var(--x-border-radius);
      position: relative;

      .select-data {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
}
