<form [formGroup]="formGroup()" class="app-dialog-form">
  <div class="content">
    @for (node of formTree(); track node.id!) {
      <ng-container
        [ngTemplateOutlet]="nodeTpl"
        [ngTemplateOutletContext]="{ node, form: formGroup() }"
      ></ng-container>
    }
  </div>
</form>

<ng-template #nodeTpl let-node="node" let-form="form">
  <div [formGroup]="form" class="schema-form">
    @switch (node.type) {
      @case ('object') {
        @if (node.isArray) {
          <div class="array" [formArrayName]="node.name">
            <div class="array-tools">
              <span>{{ node.title }}</span>
              <x-buttons class="array-tools-buttons" boxShadow="false">
                @if (form.get(node.name).controls.length > 0) {
                  <x-button
                    type="danger"
                    plain
                    flat
                    text
                    icon="fto-trash-2"
                    (click)="removeAll(form.get(node.name))"
                    size="small"
                  >
                  </x-button>
                }
                <x-button
                  type="primary"
                  (click)="add(form.get(node.name), node.children)"
                  plain
                  flat
                  text
                  icon="fto-plus-square"
                  size="small"
                >
                </x-button>
              </x-buttons>
            </div>
            <div class="array-form-list">
              @for (control of form.get(node.name).controls; track control; let i = $index) {
                <div class="array-form" [formGroupName]="i">
                  @for (subNode of node.children; track subNode.id; let j = $index) {
                    <ng-container
                      [ngTemplateOutlet]="nodeTpl"
                      [ngTemplateOutletContext]="{
                        node: subNode,
                        form: form.get(node.name).controls[i]
                      }"
                    ></ng-container>
                  }
                  <span class="array-index">{{ i + 1 }}</span>
                  <x-button
                    class="array-delete"
                    type="danger"
                    plain
                    flat
                    text
                    icon="fto-trash-2"
                    (click)="removeAt(form.get(node.name), i)"
                    size="small"
                  >
                  </x-button>
                </div>
              }
            </div>
          </div>
        } @else if (node.isObject) {
          @if (node.isJsonSchema) {
            <app-json-schema [formControlName]="node.name" [title]="node.title"></app-json-schema>
          } @else {
            <div class="object" [formGroupName]="node.name">
              <div class="object-tools">
                <span>{{ node.title }}</span>
              </div>
              <div class="object-form-list">
                @for (subNode of node.children; track subNode.id; let j = $index) {
                  <ng-container
                    [ngTemplateOutlet]="nodeTpl"
                    [ngTemplateOutletContext]="{
                      node: subNode,
                      form: form.get(node.name)
                    }"
                  ></ng-container>
                }
              </div>
            </div>
          }
        }
      }
      @case ('array') {
        @for (subNode of node.children; track subNode.id) {
          <ng-container
            [ngTemplateOutlet]="nodeTpl"
            [ngTemplateOutletContext]="{ node: subNode, form }"
          ></ng-container>
        }
      }
      @case ('boolean') {
        <div class="item" [class.required]="node.required!">
          <ng-container *ngTemplateOutlet="labelTpl; context: { node }"></ng-container>
          <x-switch [formControlName]="node.name!" [required]="node.required"></x-switch>
        </div>
      }
      @case ('number') {
        <div class="item" [class.required]="node.required!">
          <ng-container *ngTemplateOutlet="labelTpl; context: { node }"></ng-container>
          @if (node.isEnum) {
            <x-select [data]="selectData(node.enums)"></x-select>
          } @else {
            <x-input-number
              [formControlName]="node.name!"
              [required]="node.required!"
            ></x-input-number>
          }
        </div>
      }
      @case ('integer') {
        <div class="item" [class.required]="node.required!">
          <ng-container *ngTemplateOutlet="labelTpl; context: { node }"></ng-container>
          @if (node.isEnum) {
            <x-select [data]="selectData(node.enums)"></x-select>
          } @else {
            <x-input-number
              [formControlName]="node.name!"
              [required]="node.required!"
            ></x-input-number>
          }
        </div>
      }
      @case ('string') {
        <div class="item" [class.required]="node.required!">
          <ng-container *ngTemplateOutlet="labelTpl; context: { node }"></ng-container>
          @if (node.isEnum) {
            <x-select [data]="selectData(node.enums)"></x-select>
          } @else {
            <x-input [formControlName]="node.name!" [required]="node.required!"></x-input>
          }
        </div>
      }
    }
  </div>
</ng-template>

<ng-template #labelTpl let-node="node">
  <label>
    {{ node.title }}
    @if (node.description) {
      <x-icon
        class="app-help-icon"
        x-tooltip
        [content]="descriptionTpl"
        [panelClass]="'app-help-content'"
        type="fto-help-circle"
      ></x-icon>
    }
    ：
    <ng-template #descriptionTpl>
      <p>{{ node.description }}</p>
    </ng-template>
  </label>
</ng-template>
