<form [x-loading]="formLoading()" [formGroup]="form" class="app-dialog-form" (ngSubmit)="save()">
  <h4 x-dialog-title class="title">{{ title() }}</h4>
  <x-button x-dialog-close class="close" icon="fto-x" size="large" flat text></x-button>
  <div x-dialog-content class="content">
    <div class="item">
      <label>父节点：</label>
      <x-tree-select [data]="treeData()" showPath formControlName="pid"></x-tree-select>
    </div>
    <div class="item">
      <label>
        节点类型
        <x-icon
          class="app-help-icon"
          x-tooltip
          [content]="contentTpl"
          [panelClass]="'app-help-content'"
          type="fto-help-circle"
        ></x-icon>
        ：
        <ng-template #contentTpl>
          <p>文件夹类型可以添加子节点</p>
          <p>根据文件后缀来指定文件类型</p>
        </ng-template>
      </label>
      <x-radio
        [data]="[
          { id: 'Folder', label: '文件夹' },
          { id: 'File', label: '文件' }
        ]"
        button
        formControlName="type"
      ></x-radio>
    </div>
    <div class="item">
      <label>{{ typeName }}：</label>
      <x-input formControlName="name" [placeholder]="'请输入' + typeName"></x-input>
    </div>
    <div class="item">
      <label>排序：</label>
      <x-input-number formControlName="sort"></x-input-number>
    </div>
    <div class="item">
      <label>描述：</label>
      <x-textarea formControlName="description" placeholder="请输入描述"></x-textarea>
    </div>
  </div>
  <div x-dialog-actions align="center" class="actions">
    <x-button icon="fto-x" attrType="button" flat plain x-dialog-close>取消</x-button>
    <x-button
      flat
      icon="fto-save"
      type="primary"
      attrType="submit"
      [loading]="saveLoading()"
      [disabled]="!form.valid"
      >保存</x-button
    >
  </div>
</form>
