<div class="string">
  <form [formGroup]="form">
    <div class="group">
      <div class="item">
        <label>{{ '$schema.minProperties' | xI18n }}</label>
        <x-input-number
          [min]="0"
          placeholder=">=0"
          formControlName="minProperties"
        ></x-input-number>
      </div>
      <div class="item">
        <label>{{ '$schema.maxProperties' | xI18n }}</label>
        <x-input-number
          [min]="0"
          placeholder=">=0"
          formControlName="maxProperties"
        ></x-input-number>
      </div>
      <div class="item">
        <label>{{ '$schema.additionalProperties' | xI18n }}</label>
        <x-switch formControlName="additionalProperties"></x-switch>
      </div>
      <div class="item">
        <label>{{ '$schema.behavior' | xI18n }}</label>
        <x-select formControlName="behavior" [data]="behaviors"> </x-select>
      </div>
    </div>
  </form>
</div>
